body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: MapleMono, monospace;
    font-weight: 300;
    overflow: hidden;
}

a {
	color: whitesmoke;
}

a:visited {
	color:antiquewhite;
}

#background-image {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/external-image-1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    vertical-align: center;
    background: rgba(255, 255, 255, 0.4);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
	backdrop-filter: blur(8px);
}
h1 {
    color: #333;
    margin-bottom: 2rem;
}
.play-button {
    width: 100%;
    background-color: rgba(255,255,255, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
	font-size: 20vh;
}
.play-button:hover {
    background-color: rgba(255,255,255, 0);
    transform: scale(1.05);
}
.play-button:disabled {
    background-color: rgba(255,255,255, 0.1);
    cursor: not-allowed;
}
.status {
    margin-top: 1rem;
    color: #666;
}
.volume-control {
    margin-top: 2rem;
    width: 100%;

}
.volume-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}