body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-image: url(assets/background-image-02.jpg);
    background-position: center;
}
.container {
    text-align: center;
    vertical-align: center;
    background-color: rgba(255,255,255,0);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
h1 {
    color: #333;
    margin-bottom: 2rem;
}
.play-button {
    width: 100%;
    background-color: rgba(255,255,255, 0.5);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
}
.play-button:hover {
    background-color: rgba(255,255,255, 0.9);
    transform: scale(1.05);
}
.play-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.status {
    margin-top: 1rem;
    color: #666;
}
.volume-control {
    margin-top: 2rem;
    width: 100%;
    max-width: 300px;
}
.volume-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}